


/* Shapes */

body {
	background-color: #484747;
	font-family: 'Chelsea Market', sans-serif;
	background-image: url(images/background.png);
	background-repeat: no-repeat;
	background-size: cover;
}



.bg_square {
	display: flex;
	margin: 0px auto;
	width: 100%;
	max-width: 1500px;
	background-color: black;
	min-height: 900px;
	align-items: flex-start;
	}

.side_rect
{
	display: flex;
	background-color: black;
	width: 100%;
	min-height: 900px;
	max-width: 450px;
	flex-direction: column;
	
}

.bio_footer_container {
	background-color: white;
	display: flex;
	flex-direction: column;
	min-height: 900px;
	max-width: 1200px;;
	justify-content: flex-end;
	text-align: center;
}


.footer_rect {
	display: flex;
	background-color: rgb(212, 212, 212);
	width: 100%;
	flex-direction: column;
	justify-content: flex-end;
	min-height: 200px;
	align-items: center;
	
	
}

.bio_rect {
	display: flex;
	background-color: white;
	width: 100%;
	flex-direction: column;
	justify-content: flex-start;
	min-height: 700px;
	text-align: center;
	
	
}


/* text properties */


.footer_text {

	font-size: 20px;
	margin-bottom: 30px;
	color: black;
	
}

.footer_text h1 {

	font-size: 28px;
	
}

.bio_text {
	font-size: 18px;
	padding: 0px 130px 30px;
	color: #484747;
}

.bio_text h1 {
	font-size: 50px;
}
 
.bio_text h2 {
	 padding: 8px;
 }


.sidebar_text {
	padding: 25px;
	color: white;
	font-style: italic;
	font-size: 20px;
	text-align: center;
}

/* profile image size limit/float */

.portrait {
	opacity: 100;
	margin: 0 auto;
	margin-top: 30px;
	padding-bottom: 5px;
	width: 80%;
	height: auto;
	max-width: 350px;
	
}



/*Dictates the size and padding of the social media icons.*/

.social_icon {
	
	vertical-align: bottom;
	padding-left: 3px;
	padding-right: 3px;
	max-height: 30px;
	max-width: 30px;
}

/* media query */

@media only screen and (max-width: 1080px)
{
	.side_rect {
		display: none;
	}

	.social_icon {
		max-height: 50px;
		max-width: 50px;
		margin-top: 15px;
	}
	.footer_text {
		font-size: 18px;
	}
}
