

/*//////////////// Shapes/containers ////////////*/

html {
	scroll-behavior: smooth;
}

body {
	background-color: #484747;
	font-family: 'Chelsea Market', sans-serif;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	
}

a {text-decoration:none;}

.bg_square {
	display: flex;
	margin: 0 auto;
	width: 100%;
	max-width: 1500px;
	background-color: black;
	}

.side_rect {
	display: flex;
	background-color: black;
	min-width: 350px;
	max-width: 350px;
	flex-direction: column;

	
}

.image_rows {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	
}

.bio_footer_container {
	background-color: white;
	display: flex;
	flex-direction: column;
	max-width: 100%;
	justify-content: flex-end;
	text-align: center;
}


.footer_rect {
	display: flex;
	background-color: rgb(212, 212, 212);
	width: 100%;
	flex-direction: column;
	justify-content: flex-end;
	min-height: 200px;
	align-items: center;
	
	
}

.bio_rect {
	display: flex;
	background-color: white;
	width: 100%;
	flex-direction: column;
	justify-content: flex-start;
	min-height: 700px;
	text-align: center;
	
	
}

.footer_items {

	display: flex;
	flex-direction: row;

}

.hero {
	display: flex;
	flex-direction: column;
	background-image: url(images/hero.png);
	min-width: 100%;
	min-height: 300px;
	background-size: cover;
	color: white;
	align-self: flex-start;
	justify-content: flex-end;
	outline: 6px solid white;
	outline-offset: -6px;
	

}
/*///////// text properties //////////*/


.footer_text {

	font-size: 20px;
	margin-bottom: 30px;
	color: black;
	
}

.footer_text h1 {

	font-size: 28px;
	
}


.footer_text div {

	display: inline;
	
}

.bio_text {
	text-align: left;
	font-size: 18px;
	padding: 0px 80px 30px;
	color: #484747;
}

.bio_text h1 {
	margin-top: 60px;
	font-size: 50px;
	text-align: center;
}
 
.bio_text h2 {
	text-align: center;
	 padding: 8px;
	 padding-top: 40px;
 }


.sidebar_text {
	display: flex;
	color: white;
	font-size: 20px;
	flex-direction: column;
	margin: 0 auto;
	padding-left: 50px;
	position: fixed;
}

.side_rect h3 {
	margin: 5px;

}

.side_rect h1 {
	margin-top: 60px;

}

#centerMe {
	text-align: center;
}
/* Content Links on page*/


.side_rect a:link {
	color: white;
}


.side_rect a:visited {
	color: white;
}


.side_rect a:hover {
	color: gray;
}


/*/////////// images ////////////*/

/* profile image size limit/float (Might not be needed here.) */

.portrait {
	opacity: 100;
	margin: 0 auto;
	margin-top: 30px;
	padding-bottom: 5px;
	width: 80%;
	height: auto;
	max-width: 350px;
	
}

.section_icons {
	width: 50px;
	height: 50px;
	vertical-align: bottom;
}

.section_icons:hover {

	animation: iconWiggle 2s infinite;

}

@keyframes iconWiggle {
	50%
	{
		transform: rotate(-45deg);
		transform-origin: 0px 25px;
	}

	100%
	{
		transform: rotate(0deg);
		transform-origin: 0px 25px;
	}
}
/*Dictates the size and padding of the social media icons.*/

.social_icon {
	
	vertical-align: top;
	margin-top: 12px;
	padding-left: 5px;
	padding-right: 0px;
	max-height: 30px;
	max-width: 30px;
}


/*Images for case study*/

.study_img_container {
	width: 100%;
	align-self: center;
	margin-bottom: 20px;
}

#study_img {
	border-color: gray;
	border-style: solid;
	border-width: 1px;
	width: 90%;
	
}

#hero_img {
	
	width: 100%;
	
}

.hero_text {
	padding-left: 20px;
	padding-right: 20px;
	font-size: 20px;
	margin-bottom: 60px;
}

.hero_text h1 {
	font-size: 70px;
	
}


.hero_text p {
	opacity: .8;
	margin-top: -40px;
}


/*//////////// media query ///////////*/

@media only screen and (max-width: 1080px)
{
	.side_rect {
		display: none;
	}

	.top_btn {
		display: none;
	}

	.social_icon {
		min-height: 70px;
		min-width: 70px;
		margin-top: 15px;
	}
	.footer_text {
		font-size: 40px;
		padding: 0px 80px 0px;
	}
	.footer_text h1 {
		font-size: 30px;
		padding: 0px 80px 0px;
	}

	#study_img {
		margin: 0 auto;
		padding: 0px 0px 0px;
		border-color: transparent;
	}

	.blockMe {
		display: block;
	}

	.footer_items {

		display: flex;
		flex-direction: column;
	
	}

}


.gradient {
	width: 100%;
	height: 700px;
	background: linear-gradient(black, transparent);
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
}