

/*//////////////// Shapes/containers ////////////*/

body {
	background-color: #484747;
	font-family: 'Chelsea Market', sans-serif;
	background-image: url(images/background.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	
}

a {text-decoration:none;}

.bg_square {
	display: flex;
	margin: 0px auto;
	width: 100%;
	max-width: 1500px;
	background-color: black;
	}

.side_rect
{
	display: flex;
	background-color: black;
	min-width: 200px;
	width: 30%;
	flex-direction: column;

	
}


.bio_footer_container {
	background-color: white;
	display: flex;
	flex-direction: column;
	min-height: 900px;
	max-width: 1200px;
	justify-content: flex-end;
	text-align: center;
}


.footer_rect {
	display: flex;
	background-color: rgb(212, 212, 212);
	width: 100%;
	flex-direction: column;
	justify-content: flex-end;
	min-height: 200px;
	align-items: center;
	
	
}

.bio_rect {
	display: flex;
	background-color: white;
	width: 100%;
	flex-direction: column;
	justify-content: flex-start;
	min-height: 700px;
	text-align: center;
	
	
}


/*///////// text properties //////////*/


.footer_text {

	font-size: 20px;
	margin-bottom: 30px;
	color: black;
	
}

.footer_text h1 {

	font-size: 28px;
	
}

.bio_text {
	font-size: 18px;
	padding: 0px 130px 30px;
	color: #484747;
}

.bio_text h1 {
	font-size: 50px;
}
 
.bio_text h2 {
	 padding: 8px;
 }


.sidebar_text {
	display: flex;
	color: white;
	font-size: 20px;
	flex-direction: column;
	margin: 0 auto;
	padding-left: 10px;
}

.side_rect h3 {
	margin: 5px;

}

/* Content Links on page*/


.side_rect a:link {
	color: white;
}


.side_rect a:visited {
	color: white;
}


.side_rect a:hover {
	color: gray;
}


/*/////////// images ////////////*/

/* profile image size limit/float (Might not be needed here.) */

.portrait {
	opacity: 100;
	margin: 0 auto;
	margin-top: 30px;
	padding-bottom: 5px;
	width: 80%;
	height: auto;
	max-width: 350px;
	
}

/* to top button */
.top_btn {
	display: flex;
	margin: 0 auto;
	max-width: 100px;
	max-height: 100px;
	position: fixed;
	bottom: 5%;
	left: 2.5%;
	opacity: .4;

	
}


/*Dictates the size and padding of the social media icons.*/

.social_icon {
	
	vertical-align: bottom;
	padding-left: 3px;
	padding-right: 3px;
	max-height: 30px;
	max-width: 30px;
}


/*Images for case study*/

#study_img {
	min-width: 500px;
	min-height: auto;
	max-width: 100%;
	max-height: 100%;
	padding: 0px 5px 5px;
	border-style: solid;
	border-width: 8px;
	border-color: white;
}

/*//////////// media query ///////////*/

@media only screen and (max-width: 1080px)
{
	.side_rect {
		display: none;
	}

	.top_btn {
		display: none;
	}

	.social_icon {
		max-height: 50px;
		max-width: 50px;
		margin-top: 15px;
	}
	.footer_text {
		font-size: 18px;
	}
}
